root = true

[*]
indent_style = space
# По умолчанию (если ничего не переопределено ниже) 4 пробела
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.html]
indent_style = space
indent_size = 2

[*.htm]
indent_style = space
indent_size = 2
